@import "~materialize-css/dist/css/materialize.min.css";

input.validate {
    border-bottom: 2px solid rgb(0, 0, 0)!important;
    box-shadow: 0px 2px 0 0 rgb(0, 0, 0)!important;
}
input.validate + label {
    color: #000000!important;
}
input.validate:focus + label  {
    color:  rgb(248, 248, 248)!important;
}
input.validate + i {
  color: #000000!important;
}
input.validate:focus + i  {
  color:  rgb(248, 248, 248)!important;
}
input.validate:focus {
    
    border-bottom: 1px solid rgb(145, 152, 255)!important;
    box-shadow: 1px 3px 1px 0 rgb(16, 17, 32)!important;
}
